body {
    background-image: url('weather.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-family: 'PT Serif', serif;
}

#intro {
    position: absolute;
    padding: 15px 25px;
    position: center;
    
}

#weatherContainer {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
}
#weatherContainer h1 {
    margin: 5px;
    font-size: 42px;
    font-family: 'PT Serif', serif;
}
#searchContainer {
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
 height: 57px;
 
}
#searchContainer input {
    width: 70%;
    font-size:20px;
    font-family: 'PT Serif', serif;
   
    height: 57px;
}
#searchContainer button {
    background-color:rgba(42, 78, 175, 0.356);
    color: white;
    width: 75px;
    font-size: 42px;
    font-family: 'PT Serif', serif;
}
.searchControl {
    box-shadow: 2px 2px 5px black;
    border: none;
    
    height: 57px;
    border-radius: 5px;
    padding: 5px;
    font-family: 'PT Serif', serif;
}
#weatherMain {
    display: block;
    margin-bottom: 20px;
}
#weatherMain div {
    display: inline-block;
    font-family: 'PT Serif', serif;
}
#weatherDescriptionHeader {
    font-size: 28px;
    vertical-align: 50%;
    font-family: 'PT Serif', serif;
}
#temperature {
    font-size: 38px;
    vertical-align: 25%;
}
.bottom-details {
    display: block;
    font-size: 24px;
    text-align: right;
}
hr {
    margin-bottom: 20px;
}